<!DOCTYPE html>
<html>

<head>
	<title>Dementia Calendar</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans:700" rel="stylesheet">
</head>

<body <% if (mode == 'night') { %>style="background-color:black; color:white"<% } %>>
	<div class="main" >
		<canvas id="clock"></canvas>

		<script src="/javascripts/vector.js"></script>
		<script src="/javascripts/clock.js"></script>
		
		<% if (mode) { %>
			<script>
				clock('<%= mode %>');
			</script>
		<% } %>

		<p id="date"></p>

		<script>
			let date = new Date();

			let options = {
				weekday: 'long',
				year: 'numeric',
				month: 'long',
				day: 'numeric'
			};

			document.getElementById("date").innerHTML = "Hoy es " + date.toLocaleDateString('es-ES', options);
		</script>

		<p id="message"></p>

		<script>
			var myVar = setInterval(loadMessage, 60000);

			function loadMessage() {
				var xhttp = new XMLHttpRequest();
				xhttp.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						document.getElementById("message").innerHTML = JSON.parse(this.responseText).text;
					}
				};
				xhttp.open("GET", "message", true);
				xhttp.send();
			}
		</script>

	</div>

</body>

</html>