body {
  margin: 0px;
  vertical-align: middle;
  min-width:600px
}

.main {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 100px;
  margin-left: 100px;
}

p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 42px;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.message-table {
  font-family: 'Noto Sans', sans-serif;
  font-size: 46px;
}

.clock-div {
  float:left;
  width:50%;
  text-align:center;
}

.text-div {
  float:left;
  width:50%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align:center;
}

@media only screen and (max-width:1440px) {
  .clock-div, .text-div {
    width:100%;
  }
}