body {
  margin: 0px;
  vertical-align: middle;
  width: 100%;
  min-width: 900px
}

.main {
  font-family: 'Arimo', sans-serif;
  text-align: center;
  margin: 30px;
}

p {
  margin: 0.6em;
  font-size: 42px;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.notes-container {
  font-family: 'Bad Script', 'cursive';
  font-size: 52px;
  max-width: 750px;
}

.notes-container p {
  line-height: 1.4;
}